# Lists: ordered, mutable, allows duplicate elements

In [37]:
mylist = ["banana", "cherry", "apple"]
print(mylist)

['banana', 'cherry', 'apple']

In [25]:
mylist2 = [5, True, "apple", "apple"]
print(mylist2)

[5, True, 'apple', 'apple']

In [26]:
item = mylist[2]
print(item)

lemon

In [27]:
for x in mylist:
    print(x)

apple
banana
lemon

In [28]:
if "banana" in mylist:
    print("Yes")
else:
    print("No")

Yes

In [29]:
print(len(mylist))

3

In [30]:
mylist.append("lemon")

In [31]:
print(mylist)

['apple', 'banana', 'lemon', 'lemon']

In [32]:
mylist.insert(1, "blueberry")
print(mylist)

['apple', 'blueberry', 'banana', 'lemon', 'lemon']

In [14]:
item = mylist.pop()
print(mylist)
print(item)

['banana', 'blueberry', 'cherry', 'apple']
lemon

In [35]:
item = mylist.remove("cherry")
print(mylist)
print(item)

['banana', 'apple']
None

In [42]:
item = mylist.reverse()
print(mylist)

['apple', 'banana', 'cherry']

In [47]:
newlist =  sorted(mylist)

In [48]:
print(newlist)

['apple', 'banana', 'cherry']

In [49]:
mylist = [0]*5
print(mylist)

[0, 0, 0, 0, 0]

In [50]:
mylist2 = [1, 2, 3, 4, 5]
new_list = mylist + mylist2
print(new_list)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]

In [53]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a = mylist[1:5]
print(a)

[2, 3, 4, 5]

In [61]:
a = mylist[::2]
print(a)

[1, 3, 5, 7, 9]

In [62]:
a = mylist[::-1]
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [59]:
list_org = ["banana", "cherry", "apple"]

list_cpy = list_org
print(list_cpy)

['banana', 'cherry', 'apple']

In [60]:
list_cpy.append("lemon")
print(list_org)

['banana', 'cherry', 'apple', 'lemon']

In [63]:
list_cpy = list_org.copy()

In [65]:
list_cpy.append("blueberry")
print(list_org)
print(list_cpy)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple', 'lemon', 'blueberry', 'blueberry']

In [68]:
list_cpy = list_org[:]
list_cpy.append("strawberry")
print(list_cpy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon', 'strawberry']
['banana', 'cherry', 'apple', 'lemon']

In [69]:
mylist = [1, 2, 3, 4, 5, 6]
b = [i*i for i in mylist]
print(mylist)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]